@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --min-touchable-size: 42px;
}

@layer base {
    * {
        font-family: 'Open Sans', sans-serif;
    }
}

@layer components {
    .font-h1 { @apply font-bold text-4xl; }
    .font-h2 { @apply font-bold text-2xl; }
    .font-h3 { @apply font-bold text-xl; }
    .font-h4 { @apply font-bold text-lg; }
    .font-h5 { @apply font-bold text-base; }
    .font-h6 { @apply font-bold text-sm; }
    .font-p { @apply font-normal text-base; }
    .font-quote { @apply text-xl leading-loose; }

    .text-h1 { @apply font-h1 text-gray-700 dark:text-gray-100; }
    .text-h2 { @apply font-h2 text-gray-700 dark:text-gray-100; }
    .text-h3 { @apply font-h3 text-gray-700 dark:text-gray-100; }
    .text-h4 { @apply font-h4 text-gray-700 dark:text-gray-100; }
    .text-h5 { @apply font-h5 text-gray-700 dark:text-gray-100; }
    .text-h6 { @apply font-h6 text-gray-600 dark:text-gray-400; }
    .text-p { @apply font-p text-gray-700 dark:text-gray-100; }
    .text-quote { @apply font-quote; }

    .btn {
        @apply inline-flex justify-center items-center transition min-h-touch min-w-touch p-2 rounded select-none leading-none;
    }

    .btn-lg {
        @apply p-4;
    }

    .btn-primary {
        @apply text-white bg-blue-500 hover:bg-blue-400 active:bg-opacity-50 shadow-lg;
    }

    .btn-outline-primary {
        @apply border-2 text-blue-500 bg-white border-blue-500 hover:bg-blue-400 hover:border-blue-400 hover:text-white active:bg-opacity-50 shadow-lg;
    }

    .btn-default {
        @apply hover:bg-gray-300 hover:bg-opacity-30 active:bg-opacity-10 hover:shadow-lg;
    }

    .btn-gray {
        @apply text-white bg-gray-500 hover:bg-gray-400 active:bg-opacity-50 shadow-lg;
    }

    .btn-outline-gray {
        @apply border-2 text-gray-500 bg-white border-gray-500 hover:bg-gray-400 hover:border-gray-400 hover:text-white active:bg-opacity-50 shadow-lg;
    }

    .btn-white {
        @apply text-gray-700 bg-white hover:bg-gray-200 active:bg-opacity-50 shadow-lg;
    }

    .btn-disabled {
        @apply !opacity-30 !bg-opacity-100 !cursor-default;
    }

    .link {
        @apply inline-flex flex-center transition duration-150 hover:underline;
    }

    .link-primary {
        @apply text-blue-500 hover:text-blue-400 active:text-opacity-50;
    }

    .link-visited {
        @apply visited:text-indigo-400 hover:visited:text-indigo-300;
    }

    .card { @apply shadow-lg rounded-lg overflow-hidden; }
    .card-default { @apply bg-white dark:bg-gray-700; }
    .card-primary { @apply bg-blue-500 text-white; }
    .card-body { @apply p-5; }

    .input-row {
        @apply flex gap-4;
    }

    .input-row > * {
        @apply flex-1;
    }

    .input-group {
        @apply flex flex-col mb-4;
    }

    .input {
        @apply border rounded-md p-2 bg-white dark:bg-gray-800 dark:border-gray-600;
    }

    .custom-scroll-bar::-webkit-scrollbar { @apply w-2 h-2; }
    .custom-scroll-bar::-webkit-scrollbar-track { @apply rounded-full m-1; }
    .custom-scroll-bar::-webkit-scrollbar-thumb { @apply rounded-full bg-gray-300 bg-opacity-10 hover:bg-opacity-20; }

    .content p { @apply text-p mb-4; }
    .content h1 { @apply text-h1 mb-4; }
    .content h2 { @apply text-h2 mb-4; }
    .content h3 { @apply text-h3 mb-4; }
    .content h4 { @apply text-h4 mb-4; }
    .content h5 { @apply text-h5 mb-2; }
    .content h6 { @apply text-h6 mb-2; }
    .content a { @apply link link-primary link-visited; }
    .content ul,
    .content ol { @apply pl-4 mb-6; }
    .content ul ul,
    .content ul ol,
    .content ol ul,
    .content ol ol { @apply mb-2; }
    .content ul { @apply list-custom; }
    .content ol { @apply list-decimal; }
    .content li:not(:last-child) { @apply mb-2; }
    .content li li:first-child { @apply mt-2; }
    .content :global(.stylish-box) { @apply mb-4; }
    .content img { @apply rounded-lg shadow mb-6; }
    .content > *:last-child { @apply mb-0; }
    .content :not(pre) > code { @apply font-mono bg-gray-400 bg-opacity-50 px-1; }
    .dark .content :not(pre) > code { @apply bg-gray-900; }
}

@layer utilities {
    .flex-center {
        @apply justify-center items-center;
    }

    .trbl {
        @apply top-0 right-0 bottom-0 left-0;
    }

    @media (pointer: coarse) {
        .min-h-touch {
            min-height: var(--min-touchable-size);
        }

        .min-w-touch {
            min-width: var(--min-touchable-size);
        }
    }

    @media print {
        .print\:hidden {
            @apply hidden;
        }
    }
}

body * {
    @apply custom-scroll-bar;
}

.grecaptcha-badge {
    @apply invisible rounded-full;
}
